<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>
<body>

<div>

    <h3>Update Your Profile</h3>
    <form action="updateprofile" method="post">

        <label for="fullname">Fullname:</label>
        <input type="text" id="fullname" name="fullname" ><br>

        <label for="phonenumber">Phonenumber:</label>
        <input type="text" id="phonenumber" name="phonenumber" ><br><br>

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" ><br><br>

        <input type="submit" value="SAVE">
    </form>

</div>

</body>
</html>